<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property  name="USER_HOME" value="home/sebastien"/>
	<!--在控制台打印 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <!--格式：时分秒，线程 -->   
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${USER_HOME}/my.log</file>
    <encoder>
      <pattern>%5p %d{yyyy:MM:dd HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{80} - %msg%n</pattern>
    </encoder>
  </appender>
  <!--logger name的优先级高于root -->
  <logger name="org.seckill" level="DEBUG" additivityFlag="false">
    <appender-ref ref="FILE"></appender-ref>
  </logger>
	<!--打印级别debug -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" level="DEBUG"/>
  </root>


</configuration>