<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--在控制台打印 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
      <!--格式：时分秒，线程 -->   
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
	<!--打印级别debug -->
  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>